<%-include("partials/header")-%>
<div class="mx-auto p-2" style="width: 200px">
  <h1><%=heading%></h1>
</div>
<h3 class="pad1 shadow-lg p-3 mb-5 rounded" style="background-color: #c9eeff">
  <%=content%>
</h3>

<%-include("partials/footer")-%>
